* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: rgb(21, 21, 21);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
